<div class="todo-list-container" *ngIf="todoListSelected">
    <h1>{{ todoListSelected.listName }}</h1>

    <div class="tasks-container" *ngIf="todoListSelected.tasksArray.length > 0">
      <app-task
        *ngFor="let task of todoListSelected.tasksArray"
        [taskItem]="task"
        (taskDeleted)="deleteTask($event)"
        (taskCompletion)="toggleTaskCompletion($event)">
      </app-task>
    </div>

    <div class="no-tasks-container" *ngIf="todoListSelected.tasksArray.length === 0">
      <p>Não há tarefas nessa lista. Que tal cadastrar algumas, clicando no botão abaixo?</p>
    </div>

    <button mat-fab extended>
      <mat-icon fontSet="material-icons-outlined">add</mat-icon>
      Adicionar nova tarefa
    </button>
</div>

<div class="no-list-selected-or-error" *ngIf="!todoListSelected && !showErrorMessage">
  <p>Por favor, selecione uma lista de tarefas do menu lateral para começar a gerenciar suas tarefas!</p>
</div>

<div class="no-list-selected-or-error" *ngIf="!todoListSelected && showErrorMessage">
  <p>Aconteceu um problema ao exibir o item selecionado. Por favor recarregue a página e tente de novo!</p>
</div>
