.app-container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: calc(100vh - 40px);
  overflow-y: hidden;
  padding: 20px 20px 20px 35px;

  .sidebar-container {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100% - 25px);

    h1 {
      font-size: 50px;
    }

    button {
      margin-top: auto;
      width: 95%;
      align-self: center;
    }
  }

  app-todo-list {
    border-radius: 8px;
    background-color: #DCE1EC;
    padding: 25px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
  }
}
