.add-todo-list-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button {
    background-color: cornflowerblue;
    color: white;
  }

  button.mat-mdc-button-disabled {
    background-color: gray;
    color: black;
  }
}
