.task-container {
  background-color: white;
  width: 100%;
  display: flex;
  font-size: 25px;
  border-radius: 6px;
  padding: 12px 18px;
  align-items: center;
  gap: 12px;

  p.completed-task {
    text-decoration: line-through;
    color: gray;
  }

  button {
    margin-left: auto;
  }
}
